[package]
name = "http_server_rust"
version = "0.1.0"
authors = ["Collin Styles <cstyles@mitre.org>"]
edition = "2018"

[dependencies]
hyper = "0.12"
tera = "0.11"
lazy_static = "1.2.0"
percent-encoding = "1.0.1"
clap = "2.32.0"
